{% extends '../common/layout.twig' %}

{% block main %}
	<main class="page-main">
		{% include '../components/main-header.twig' with promo %}

		{% include '../components/advantages.twig' %}

		{% include '../components/company.twig' with { bemMix: 'page-main__company', isHeading: true } %}
  </main>
{% endblock %}
