.advantages {
  margin: 120px auto;

  @include vp-1023 {
    margin: 80px auto;
  }

  @include vp-767 {
    margin: 50px auto 48px auto;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 33px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    gap: 30px 31px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  position: relative;
  min-height: 300px;
  padding: 40px 40px 46px 45px;
  border: 1px solid $color-light-whisper;
  transition: color $trans-default, background-color $trans-default, border-color $trans-default;

  &::after {
    content: "";
    width: 5px;
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    background-color: $color-deep-sky-blue;
  }

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    background-color: $color-deep-sky-blue;

    @include vp-1023 {
      margin-bottom: 14px;
    }
  }

  &--stopwatch::before {
    @include mask("stopwatch");
  }

  &--hired::before {
    @include mask("hired");
  }

  &--detective::before {
    @include mask("detective");
    margin-left: -6px; // Pixelperfect
  }

  &--tag::before {
    @include mask("tag");
  }

  @include vp-1023 {
    min-height: 360px;
    padding-right: 43px;
    padding-bottom: 30px;
    padding-left: 43px;
  }

  @include vp-767 {
    min-height: 342px;
    padding: 30px;

    &:nth-child(n + 3) {
      min-height: 325px;
    }
  }

  &:hover {
    color: $color-alice-blue;
    background-color: $color-deep-sky-blue;
    border-color: transparent;

    &::before {
      background-color: $color-alice-blue;
    }

    h3 {
      color: $color-alice-blue;
    }
  }
}

.advantages__item h3 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;
  transition: inherit;

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item p {
  margin: 12px 0 0;
  font-family: $ff-mono;
  font-size: $fz-default;
  line-height: 22px;

  @include vp-1023 {
    margin-top: 6px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}
