.advantages {
  padding: 120px 50px 77px 50px;
}

.advantages span {
  font-size: 24px;
  line-height: 35px;
}

.advantages p {
  margin-top: 12px;
  font-family: $ff-mono;
  font-size: $fz-default;
  line-height: 22px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 29px 34px;
  margin: 0 0 44px;
  padding: 0;
  list-style: none;
}

.advantages__item {
  display: block;
  height: 300px;
  position: relative;
  padding: 40px 45px 35px 45px;
  border: 1px solid $color-light-whisper;

  &::after {
    content: "";
    display: block;
    width: 5px;
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    background-color: $color-sky-blue;
  }

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    background-color: $color-sky-blue;
  }

  &--stopwatch::before {
    @include mask("stopwatch");
  }

  &--hired::before {
    @include mask("hired");
  }

  &--detective::before {
    @include mask("detective");
    margin-left: -6px;
  }

  &--tag::before {
    @include mask("tag");
  }

  &:hover {
    border-color: transparent;
    color: $color-alice-blue;
    background-color: $color-sky-blue;

    &::before {
      background-color: currentColor;
    }
  }
}
