.advantages {
  padding: 120px 50px 118px 50px;

  @include vp-1023 {
    padding: 80px 50px 36px 50px;
  }

  @include vp-767 {
    padding-top: 49px;
  }
}

.advantages__item {
  position: relative;
  padding: 40px 40px 46px 45px;
  border: 1px solid $color-light-whisper;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

  &::after {
    content: "";
    width: 5px;
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    background-color: $color-deep-sky-blue;
  }

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    background-color: $color-deep-sky-blue;

    @include vp-1023 {
      margin-bottom: 14px;
    }
  }

  &--stopwatch::before {
    @include mask("stopwatch");
  }

  &--hired::before {
    @include mask("hired");
  }

  &--detective::before {
    @include mask("detective");
    margin-left: -6px; // Pixelperfect
  }

  &--tag::before {
    @include mask("tag");
  }

  @include vp-1023 {
    padding-left: 43px;
    padding-right: 43px;
  }

  @include vp-767 {
    min-height: 340px;
    padding: 30px;
  }

  &:hover {
    color: &color-alice-blue;
    background-color: &color-deep-sky-blue;
    border-color: transparent;

    &::before {
      background-color: currentColor;
    }
  }
}

.advantages__item h3 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;
  transition: color 0.3s ease;
}

.advantages__item h3:last-child {
  font-size: 24px;
  line-height: 35px;

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item p {
  margin-top: 12px;
  font-family: $ff-mono;
  font-size: $fz-default;
  line-height: 22px;

  @include vp-1023 {
    margin-top: 6px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.advantages__item p:last-child {
  min-height: 97px;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__list--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px 32px;
  list-style: none;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item--grid {
  min-height: 100%;
}

.advantages__list--grid li:nth-child(n + 3),
.advantages__item--grid {
  @include vp-767 {
    min-height: 325px;
  }
}
