.catalog {
  background-color: $color-bg;
  padding: 65px 0 124px 0;

  @include vp-1023 {
    padding: 55px 0 60px 0;
  }

  @include vp-767 {
    padding: 47px 0 70px 0;
  }
}

.catalog__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0 auto;
  font-family: $ff-roboto_cd;

  @include vp-767 {
    padding-right: 40px;
    font-size: 28px;
    line-height: 39px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 7%;
  list-style: none;
  margin-top: 54px;

  @include vp-1023 {
    margin-top: 38px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  @include vp-767 {
    margin-top: 29px;
  }
}

.catalog__link {
  position: relative;
  color: $color-default-white;
  z-index: 1;
  display: block;
  padding-top: 185.71%;
  transition: opacity 0.3s ease;

  @include default-interactive;

  @include vp-1023 {
    padding-top: 37.31%;
  }

  @include vp-767 {
    min-height: 250px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 1px; // Pixelperfect
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    background-image: url("../img/sprite_auto.svg#arrow-right");
    background-repeat: no-repeat;
    background-position: 54%; // Pixelperfect
    background-size: 5px;
    border-radius: 3px 0 0 0;

    @include vp-767 {
      // right: 0; // Pixelperfect
      // bottom: 0;
      width: 40px;
      height: 40px;
    }
  }
}

.catalog__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__text {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 250px; // Pixelperfect
  margin: 0;
  padding: 48px 40px 100px;
  font-size: 20px;
  line-height: 30px;

  @include vp-1023 {
    max-width: 238px; // Pixelperfect
    padding: 37px 44px 100px;
  }

  @include vp-767 {
    max-width: 195px; // Pixelperfect
    padding: 26px 30px 70px;
    font-size: 18px;
  }
}
