.company-article {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $color-bg;

  @include vp-1023 {
    padding-left: 45px;
  }

  @include vp-767 {
    margin-bottom: 81px;
  }
}

.company-article__container {
  position: relative;
  padding: 0 0 122px 250px;

  @include vp-1023 {
    padding: 0 0 80px 180px;
    margin-top: -5px; // Pixelperfect
  }

  @include vp-767 {
    padding: 0;
  }
}

.company-article h2 {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
  }
}

.company-article p {
  margin: 0 0 20px 0;
  font-size: $fz-default;
  line-height: 22px;
  font-family: $ff-mono;

  @include vp-767 {
    margin: 0 0 18px; // Pixelperfect
    font-size: 14px;
    line-height: 19px;
  }
}

.company-article__image {
  position: absolute;

  @include vp-767 {
    display: none;
  }
}

.company-article__btn {
  display: inline-block;
  margin-top: 19px;
  padding: 13px 50px;
  color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;

  @include vp-1023 {
    margin-top: -4px; // Pixelperfect
  }

  @include vp-767 {
    padding: 8px 39px;
  }
}

.company-article__body--closed p:nth-of-type(n + 3) {
  display: none;
}
