.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin: 8px 22px 10px 13px;

  @include vp-1023 {
    margin: 5px 20px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-family: $ff-mono;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    margin: 3px 15px 0 0;
    margin-top: 3px;
    background-color: $color-deep-sky-blue;

    @include vp-1023 {
      margin: 0;
    }
  }

  &--mailto::before {
    @include mask("mailto");
  }

  &--tel::before {
    @include mask("tel");
  }

  @mixin vp-1023 {
    display: none;
  }
}

.contacts__text {
  @include vp-1023 {
    display: none;
  }
}
