.content-section--form {
  position: relative;
  padding: 165px 0 240px;
  color: $color-default-white;
  background-color: $color-deep-sky-blue-3;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    width: calc(50% + 10px);
    background-color: $color-bg-50;

    @include vp-1023 {
      display: none;
    }
  }

  @include vp-1023 {
    padding: 47px 0 118px;
  }

  @include vp-767 {
    padding: 46px 0 85px;
  }
}

.content-section__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.content-section__body h2 {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;

  @include vp-1023 {
    margin: 0 0 8px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }

  &--modal {
    font-size: 30px;
    line-height: 42px;
  }
}

.content-section__body {
  > p {
    margin: 0;
    font-size: $fz-default;
    line-height: 22px;
    font-family: $ff-mono;

    @include vp-767 {
      font-size: $fz-secondary;
      line-height: 19px;
    }
  }
}

.content-section--form .content-section__body {
  padding-left: 15px;

  @include vp-1023 {
    padding-left: 0;
  }
}

.content-section--form .content-section__body > p {
  margin-left: 0;

  @include vp-767 {
    margin: 0;
  }
}

.content-section__image {
  flex-shrink: 0;
  max-width: 43%;
  margin-right: 100px;

  @include vp-1023 {
    display: none;
  }
}

.content-section--form .content-section__image {
  margin-top: 14px;
}

.content-section__form {
  margin: 35px 10px 0 5px;

  @include vp-1023 {
    margin: 24px 0 0 0;
  }

  @include vp-767 {
    margin-top: 34px;
  }
}

.content-section--modal {
  padding: 0;

  @include vp-1023 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0;
  }

  &::before {
    content: none;
  }

  .content-section__inner {
    padding: 0;
  }

  .content-section__body {
    padding: 0;

    > p {
      margin: 0 30px 0 0;
    }
  }

  h2 {
    margin: -4px 30px 5px 0;
    font-size: 30px;
    line-height: 42px;
  }
}
