.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
  font-family: $ff-mono;

  @include vp-767 {
    grid-template-columns: 1fr;
  }

  input:not([type="checkbox"]),
  textarea {
    width: 100%;
    padding: 15px 15px 17px 15px;
    font-family: $ff-mono;
    background-color: $color-bg-15;
    border: none;
    border-radius: 3px;
    color: inherit;

    @include default-interactive(false);
  }

  textarea {
    padding: 24px 17px;
    min-height: 155px;
    margin-bottom: 15px;

    @include vp-1023 {
      padding: 29px 15px;
      margin-bottom: 13px;
    }

    @include vp-767 {
      font-size: 16px;
      padding-top: 24px;
      min-height: 178px;
      margin-bottom: 10px;
    }
  }

  [type="checkbox"] {
    appearance: none;
    position: relative;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    color: $color-default-white;
    border: 1px solid;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;

    &:checked::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 3px;
      width: 6px;
      height: 3px;
      border-bottom: 1px solid;
      border-left: 1px solid;
      transform: rotate(-45deg);
    }
  }

  label {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: $fz-secondary;
    line-height: $fz-default;
    font-family: $ff-mono;
    color: $color-white-80;
    cursor: pointer;

    @include default-interactive;

    [type="checkbox"] {
      margin-top: -1px; // Pixelperfect
      margin-right: 10px;
    }

    @include vp-1023 {
      padding: 10px 0;

      [type="checkbox"] {
        margin-top: -2px; // Pixelperfect
      }
    }

    @include vp-767 {
      padding: 4px 5px;
    }
  }
}

.form__group {
  margin: 0;

  &--wide {
    grid-column: 1 / -1;
  }

  &--last {
    order: 100500;
  }
}

.form__btn {
  font-family: $ff-roboto_cd;
  font-size: $fz-default;
  align-self: start;
  margin: 0 10px 0 0;
  padding: 15px 20px 11px;
  line-height: 19px;
  background-color: $color-bg;
  border: none;

  @include vp-1023 {
    margin-right: 54px;
  }

  @include vp-767 {
    margin: 0;
  }
}

[data-modal] .form {
  grid-template-columns: 1fr;

  textarea {
    margin-bottom: 5px;
  }

  label {
    padding: 0 10px 4px;
  }

  .form__btn {
    margin-right: 0;

    @include vp-1023 {
      margin-right: 0;
    }
  }
}
