.logo {
  position: relative;
  padding-left: 70px;
}

.logo__image {
  position: absolute;
  top: 0;
  left: 0;
}

.logo__title {
  margin: 4px 0 2px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.logo__description {
  margin: 0;
  font-family: $ff-roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: $fz-secondary;
  color: $color-white-70;
}
