.logo {
  display: flex;
}

.logo__image {
  margin-right: 15px;
}

.logo__title {
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.logo__description {
  position: absolute;
  left: 113px;
  top: 60px;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: $fz-secondary;
  color: $color-white-70;
}
