.logo {
  position: relative;
  padding: 4px 0 0 70px;

  // &[href] {
  //   @include default-interactive;
  // }
}

.logo__image {
  position: absolute;
  top: 0;
  left: 0;
}

.logo__title {
  display: block;
  margin: 1px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.logo__description {
  margin: 0;
  font-family: $ff-roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: $fz-secondary;
  color: $color-white-70;
}

.logo--headable {
  @include vp-767 {
    padding: 0;

    .logo__title,
    .logo__description {
      display: none;
    }

    .logo__image {
      position: static;
      width: 35px;
    }
  }
}
