.main-header {
  position: relative;
  display: flex;
  min-height: 880px;
  padding: 144px 0 120px;
  color: $color-alice-blue;
  background-color: $color-bg;

  @include vp-1023 {
    min-height: 640px;
    padding-top: 95px;
  }

  @include vp-767 {
    min-height: 560px;
    padding-top: 79px;
  }
}

.main-header__container {
  margin: auto;
  padding: 0 40px 0 175px;
  z-index: 2;

  @include vp-1023 {
    padding: 0 50px;
  }
}

.main-header__container h2 {
  margin: 0 0 31px 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-family: $ff-roboto_cd;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.main-header__container p {
  max-width: 685px;
  margin: 0 0 32px 0;
  font-size: 22px;
  line-height: 34px;
  font-family: $ff-mono;

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.main-header__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;

  @include vp-1023 {
    left: -124px;
    width: 1396px;
    max-width: none;
  }

  @include vp-767 {
    left: -230px;
    width: 1220px;
    height: none;
  }
}

.main-header__button {
  display: table;
  margin-top: 48px;
  padding: 17px 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: $color-deep-sky-blue;

  @include vp-1023 {
    margin: 57px 0 0 44px;
  }

  @include vp-767 {
    margin: 45px 0 0;
    padding: 11px 37px; // Pixelperfect
    font-size: 14px;
    line-height: 17px;
  }
}
