.nav {
  @include vp-767 {
    position: relative;
    padding: 22px 25px 18px;
    border-top: 1px solid $alice-blue-70;
    border-bottom: 1px solid $alice-blue-70;
  }
}

.nav__heading {
  margin: 7px 0 22px 0;
  font-family: $ff-roboto_cd;
  font-size: 15px;
  line-height: $fz-default;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-bottom: 3px;
    padding-right: 80px;
  }
}

.nav__toggler {
  display: none;

  @include default-interactive;

  @include vp-767 {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 59px;
    color: inherit;
    background-color: transparent;
    border: 0;
    outline-offset: -2px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 28px;
      right: 26px;
      width: 15px;
      height: 1px;
      background-color: $color-default-white;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.nav__toggler[aria-expanded="true"] {
  &::after {
    display: none;
  }

  + .nav__list {
    display: block;
  }
}

.nav__toggler[data-nojs] {
  display: none;

  + .nav__list {
    display: block;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0.7;

  @include vp-767 {
    display: none;
    margin: 16px 0 0;
  }
}

.nav__item {
  font-family: $ff-mono;
  font-size: $fz-default;
  line-height: 22px;
  margin-bottom: 8px;
  break-inside: avoid-column;

  &:last-child {
    margin-bottom: 32px;

    @include vp-1023 {
      margin-bottom: 0;
    }

    @include vp-767 {
      margin-bottom: 0;
    }
  }

  @include vp-767 {
    margin-bottom: 11px;
    font-size: $fz-secondary;
    line-height: 19px;

    &:first-child {
      margin-bottom: 19px;
    }
  }
}

.nav__link {
  @include default-interactive;
}
