.page__footer {
  margin-top: auto;
}

.page-footer {
  padding: 52px 0 20px;
  background-color: $color-bg;
  color: $color-default-white;

  @include vp-1023 {
    padding: 50px 0 60px;
  }

  @include vp-767 {
    padding: 34px 0;
  }
}

.page-footer__inner {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 335fr 460fr 345fr;
  grid-template-areas: "logo sitemap contacts" "socials sitemap contacts";
  gap: 40px;
  align-items: start;

  @include vp-1023 {
    grid-template-columns: 215px 1fr;
    grid-template-areas: "logo socials" "sitemap contacts";
    gap: 37px 134px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "socials" "sitemap" "contacts";
    gap: 0;
  }
}

.page-footer__nav {
  margin: 0;
  grid-area: contacts;

  @include vp-767 {
    margin: 0 -25px;
  }
}

.page-footer__nav + .page-footer__nav {
  margin-top: -1px;
}

.page-footer__logo {
  grid-area: logo;

  @include vp-767 {
    justify-self: center;
    margin-right: 5px;
  }
}

.page-footer__socials {
  grid-area: socials;
  justify-self: start;
  margin: -4px 0 0 15px; // Pixelperfect

  @include vp-1023 {
    margin: 0;
    justify-self: end;
    align-self: center;
    transform: translateY(-3px);
  }

  @include vp-767 {
    justify-self: center;
    margin: 23px 0 26px 4px;
  }
}

.page-footer__nav--sitemap {
  grid-area: sitemap;
}

.page-footer__nav--sitemap ul {
  column-count: 2;
  column-gap: 40px;

  @include vp-1023 {
    column-count: 1;
  }
}

.page-footer__nav--sitemap li:last-child {
  margin-bottom: 60px;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}
