.page__header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.page-header {
  padding: 30px 0 41px;
  color: $color-alice-blue;
  background-image: linear-gradient(to top, transparent, $color-bg 10px);
}

.page-header__inner {
  display: grid;
  grid-template-columns: minmax(210px, 29fr) 50fr 29fr;
  gap: 75px;
  align-items: center;
}

.page-header__button {
  margin-left: 68px;
  width: 160px;
  // &:disabled {
  //   opacity: 0.5;

  //   pointer-events: none;
  // }

  // @include hover-focus {
  //   opacity: 0.8;
  // }
}

.page-header__logo {
  align-items: center;
}
