.promo {
  display: block;
  color: $color-alice-blue;
  background-image: url('../img/banner_bg@1x.png') ;
  // background:  ;
  padding: 70px 0 72px;
}

.promo__heading {
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
