<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="fonts/PTMono-Regular.woff2" rel="preload" as="font" crossorigin="anonymous">
		<link href="fonts/RobotoCondensed-Regular.woff2" rel="preload" as="font" crossorigin="anonymous">
		<link href="fonts/Roboto-Medium.woff2" rel="preload" as="font" crossorigin="anonymous">
		<link href="fonts/RobotoCondensed-Bold.woff2" rel="preload" as="font" crossorigin="anonymous">
		<title>Smart Device</title>
		<link rel="stylesheet" href="css/style.min.css{{ version }}">
	</head>

	<body>
		<div class="page {{ pageModifier }}">
			{% block header %}
				{% include 'components/page-header.twig' with { bemMix: 'page__header' } %}
			{% endblock %}

			<main class="page__main page-main">
				{% block main %}{% endblock %}
			</main>

			{% block footer %}
				{% include 'components/page-footer.twig' with { bemMix: 'page__footer' } %}
			{% endblock %}

			{% block modal %}{% endblock %}
			{% include 'modules/scripts.twig' %}
		</div>
	</body>
</html>
