<div class="advantages container">
	<ul class="advantages__list">
		{% for advantage in advantages %}
			<li class="advantages__item advantages__item--{{ advantage.icon }}">
				<h3 class="advantages__title">
					{{ advantage.title }}
				</h3>
				<p class="advantages__description">
					{{ advantage.description }}
				</p>
			</li>
		{% endfor %}
	</ul>
</div>
