<section class="catalog">
	<h2 class="catalog__heading container">
		<span class="mobile-hide">{{ title }}</span>
		<span class="mobile-show">{{ mobileTitle }}</span>
	</h2>

	<ul class="catalog__list container">
		{% for item in list %}
			{% with item %}
			<li>
				<a class="catalog__link" href="{{ item.link.url }}">
					{% include 'picture.twig' with { className: 'catalog__image', image: item.image } %}
					<p class="catalog__text">{{ item.link.title }}</p>
				</a>
			</li>
			{% endwith %}
		{% endfor %}
	</ul>
</section>
