<article class="company-content container">
	{% include 'picture.twig' with { className: 'company-content__image', image } %}

	<div class="company-content__container">
		{{ content }}
		<a class="company-content__link button" href="{{ link.url }}">
			{{ link.title }}
		</a>
	</div>
</article>
