<article class="company-article container {{ bemModifier ? 'company-article--' ~ bemModifier }}" data-company-article>
	{% include 'picture.twig' with { className: 'company-article__image', image } %}

	<div class="company-article__container company-article__body">
		{{ content }}
	</div>
</article>
