<article class="company container">
	{% include 'picture.twig' with { className: 'company__image', image } %}

	<div class="company__container">
		{{ content }}
		<a class="company__link button" href="{{ link.url }}" id="btn" onclick="readMore()">
			{{ link.title }}
		</a>
	</div>
</article>
