<section class="connection {{ bemMix }}">
	<h2 class="connection__heading">Наш офис</h2>

	<ul class="connection__list">
		{% for connection in list %}
			<li class="connection__item">
				<a class="connection__link" href="{{ connection.id }}{{ connection.value }}">
					{{ connection.title ?? connection.value }}
				</a>
			</li>
		{% endfor %}
	</ul>
