<a class="logo {{ mix }}" href="index.html" {{ page == 'index' ? 'aria-current="page"' }} aria-label="На главную.">
  <svg class="logo__image" role="img" aria-label="Логотип Smart Device." width="55" height="55" focusable="false">
    <use xlink:href="img/logo.svg#logo"/>
  </svg>
</a>
