<div class="nav {{ bemMix }}">
	{{ content }}

	<ul class="nav__list">
		{% for nav in menu %}
			<li class="nav__item">
				<a class="nav__link" href="#!">
					{{ nav.title }}
				</a>
			</li>
		{% endfor %}
	</ul>

</div>
