<section class="nav {{ bemMix }}">
	{% if isHeading %}
		<h2 class="heading">{{ navHeading }}</h2>
	{% endif %}
	<ul class="nav__list">
		{% for nav in menu.list %}
			<li class="nav__item">
				<a class="nav__link" href="#!">
					{{ nav.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</section>
