<footer class="page-footer {{ bemMix }}">
	<div class="page-footer__inner container" data-accordeon>
		{% include 'logo.twig' with { bemMix: 'page-footer__logo' } %}

		{% include 'socials.twig' with { bemMix: 'page-footer__socials' } %}

		{% include 'nav.twig' with sitemapLinks|merge({ bemMix: 'page-footer__nav page-footer__nav--sitemap' }) %}

		{% include 'nav.twig' with addressLinks|merge({ bemMix: 'page-footer__nav' }) %}
	</div>
</footer>
