<footer class="page-footer">
	<div class="container">
		{% include 'logo.twig' with { bemMix: 'page-footer__logo' } %}

		{% include 'socials.twig' with { bemMix: 'page-footer__socials' } %}

		{% include 'nav.twig' with { bemMix: 'page-footer__nav', isHeading: true } %}

    {% include 'connection.twig' with { bemMix: 'page-footer__connection', isHeading: true } %}
	</div>
</footer>
